{% extends 'base.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block body %}
    <h1>Liste Entreprise</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Rue</th>
            <th>Ville</th>
            <th>Cp</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.rue }}</td>
                <td>{{ entreprise.ville }}</td>
                <td>{{ entreprise.cp }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}" class="boutton">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if userRole != 'Enseignant' %}
        <a href="{{ path('app_entreprise_new') }}" class="boutton">Créer une nouvelle entreprise</a>
    {% endif %}
{% endblock %}
