{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Ville</th>
            <th>Cp</th>
            <th>Pays</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.ville }}</td>
                <td>{{ entreprise.cp }}</td>
                <td>{{ entreprise.pays }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}"  class="boutton">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_new') }}"  class="boutton">Créer une nouvelle entreprise</a>
{% endblock %}
