{# Formulaire de stage #}
<form method="POST" action="{{ path('app_stage_new') }}" class="container mt-4">
    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        {{ form_label(form.date) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.date) }}
    </div>
    <div class="form-group">
        {{ form_label(form.niveau) }}
        {{ form_widget(form.niveau, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.niveau) }}
    </div>
    <div class="form-group">
        {{ form_label(form.entreprise) }}
        {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.entreprise) }}
    </div>
    <div class="form-group">
        {{ form_label(form.etudiants) }}
        {{ form_widget(form.etudiants, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.etudiants) }}
    </div>
    <br>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/etudiant/new'">Ajouter un étudiant</button>
    <br>
    <br>
    <div class="form-group">
        {{ form_label(form.professionelles) }}
        {{ form_widget(form.professionelles, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.professionelles) }}
    </div>
    <br>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/professionelle/new'">Ajouter un professionnel</button>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</form>


