{% extends 'base.html.twig' %}

{% block title %}Stage index{% endblock %}

{% block body %}
    <h1>Stage index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Niveau</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.id }}</td>
                <td>{{ stage.date }}</td>
                <td>{{ stage.niveau }}</td>
                <td>
                    <a href="{{ path('app_stage_show', {'id': stage.id}) }}" class="boutton">Voir</a>
                    <a href="{{ path('app_stage_edit', {'id': stage.id}) }}" class="boutton">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stage_new') }}" class="boutton">Créer un nouveau stage</a>
{% endblock %}
