{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ stage.date }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ stage.niveau }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ stage.entreprise.nom }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Stagiaire</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Spécialisation</th>
            </tr>
        </thead>
        <tbody>
        {% for etu in stage.etudiants %}
            <tr>
                <td>{{ etu.id }}</td>
                <td>{{ etu.nom }}</td>
                <td>{{ etu.prenom }}</td>
                <td>{{ etu.email }}</td>
                <td>{{ etu.specialisation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Professionnelles</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Métier</th>
        </tr>
        </thead>
        <tbody>
        {% for pro in stage.professionelles %}
            <tr>
                <td>{{ pro.id }}</td>
                <td>{{ pro.nom }}</td>
                <td>{{ pro.prenom }}</td>
                <td>{{ pro.email }}</td>
                <td>{{ pro.metier }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stage_index') }}">back to list</a>

    <a href="{{ path('app_stage_edit', {'id': stage.id}) }}">edit</a>

    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}
