{% extends 'base.html.twig' %}

{% block title %}Specialisation index{% endblock %}

{% block body %}
    <h1>Specialisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Labelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialisation in specialisations %}
            <tr>
                <td>{{ specialisation.id }}</td>
                <td>{{ specialisation.labelle }}</td>
                <td>
                    {{ include('specialisation/_delete_form.html.twig') }}
                    <a href="{{ path('app_specialisation_edit', {'id': specialisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_specialisation_new') }}">Create new</a>
{% endblock %}
