{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ etudiant.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ etudiant.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ etudiant.prenom }}</td>
        </tr>
        {#        <tr> #}
        {#            <th>Email</th> #}
        {#            <td>{{ etudiant.email }}</td> #}
        {#        </tr> #}
        {#        <tr> #}
        {#            <th>NumTel</th> #}
        {#            <td>{{ etudiant.numTel }}</td> #}
        {#        </tr> #}
        <tr>
            <th>Specialisation</th>
            <td>{{ etudiant.specialisation }}</td>
        </tr>
        <tr>
            <th>Stages</th>
            <td>
                {% for stage in etudiant.stages %}
                    <a href="{{ path('app_stage_show', {'id': stage.id}) }}">{{ stage.date }} - {{ stage.niveau }}
                        chez {{ stage.entreprise.nom }}</a>,
                {% else %}
                    Aucune donnée
                {% endfor %}
            </td>
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_index') }}" class="boutton">Retour à la liste</a>
    {% if userRole != 'Enseignant' %}
        <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}" class="boutton">Editer l'étudiant</a>
    {% endif %}
    <br>
    <br>
    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}